<div class="shadow-sm params-block">

	<form method="get" class="form-group">

		<caption>State:</caption>
		<select id="state-select" class="form-control" name="state">

			<option <%if not @state%> selected <%end%>>Any</option>

			<%=render partial: '/estate/options', 
			locals: {var: @state, options: @options[:states]}%>
		</select>


		<caption>Region:</caption>
		<select id="region-select" class="form-control" <%if not @state %> disabled <%end%> 
		name="region" onchange='this.form.submit()'>

		 	<option <%if not @state%> selected <%end%>>Any</option>

			<%if @state=='New York'%>
				<%=render partial: '/estate/options', 
				locals: {var: @region, options: @options[:regions][:NY]}%>
			<%end%>

			<%if @state=='Los Angeles'%> 
				<%=render partial: '/estate/options', 
				locals: {var: @region, options: @options[:regions][:LA]}%>
			<%end%>

			<%if @state=='California'%> 
				<%=render partial: '/estate/options', 
				locals: {var: @region, options: @options[:regions][:CA]}%>
			<%end%>

			<%if @state=='Texas'%> 
				<%=render partial: '/estate/options', 
				locals: {var: @region, options: @options[:regions][:TX]}%>
			<%end%>
		</select>

		<caption>Bedrooms:</caption>
		<select class="form-control" name="bedrooms"  onchange='this.form.submit()'>

			<option>Any</option>

			<%=render partial: '/estate/options', 
			locals: {var: @bedrooms, options: @options[:bedrooms]}%>		
		</select>
		<br>
		<caption>Offer:</caption>
		<div class="row">
			<div class="col-xs-4">
				<input type="radio" name="offer" value= 'rent' onchange="this.form.submit()"
				<%if @offer == 'rent'%> checked <%end%>> For rent
			</div>
			<div class="col-xs-4">
				<input type="radio" name="offer" value= 'sale' onchange="this.form.submit()" 
				<%if @offer == 'sale'%> checked <%end%>> For sale
			</div>
			<div class="col-xs-4">
				<input type="radio" name="offer" value= 'any' onchange="this.form.submit()" 
				<%if not @offer%> checked <%end%>> Any
			</div>
		</div>

	</form>
</div>