<%=render partial: '/estate/params-block' %>

<%if @estates%>
	<div class="row">
		<%@estates.each do |estate|%>
			<div class="col-xs-4">
				<center>
					<b>state:</b> <%=estate.state%> <br>
					<b>region:</b> <%=estate.region%> <br>
					<b>bedrooms:</b> <%=estate.bedrooms%> <br>
					<b>offer:</b> <%=estate.offer%>
				</center>
			</div>
		<%end%>
	</div>
<%end%>
